{% extends 'header.html' %}

{% block content %}
<br>
<div class="w-50 card mx-auto">
    <div class="card-body text-center">
        {% if candidates|length == 0 %}
            <p>You are not allowed to post as you are not a candidate.</p>
        {% else %}
            <h2 class="card-title">New Post</h2>
            <form method="post" enctype="multipart/form-data" class="post-form">
                {% csrf_token %}
                <p><strong>
                    Title<br>
                    {{ form.Title }}
                </strong></p>
                <p><strong>
                    Description<br>
                    {{ form.Description }}
                </strong></p>
                <p><strong>
                    Image<br>
                    {{ form.Image }}
                </strong></p>
                <p><strong>
                    Election<br>
                    {{ election_form.PostElection }}
                </strong></p>
                <button type="submit" class='button btn btn-outline-dark'>Post</button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}


