{% block header %}
<head>
    
    <title>Elect-DC</title>
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css'/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
</head>
{% endblock %}


<body>

    {% block title %}
    {% endblock %}

    {% block nav %}

    <nav class="nav navbar-expand-md bg-dark navbar-dark sticky-top justify-content-center">
        <div class='navbar-nav'>
            <a class='nav-item nav-link' href='/'>Home</a>
            <!-- <a class='nav-item nav-link' href='/feed/'>Newsfeed</a> -->
            <!-- <a class='nav-item nav-link' href='/profiles/'>View Candidates</a> -->
            <a class='nav-item nav-link' href='/register/'>Register</a>
            <a class='nav-item nav-link' href='/elections/'>Elections</a>
            <a class='nav-item nav-link' href='/results/'>Results</a>
            <!-- Admin only -->
            {% if perms.elections.can_view_results %}
                <a class='nav-item nav-link' href='/tools/'>Admin</a>
                <a class='nav-item nav-link' href='/accounts/new/'>Add Users</a>
            {% endif %}
            {% if user.is_authenticated %}
                <li class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='navdropdown1' data-toggle='dropdown'>{{ user.get_username }}</a>
                    <div class='dropdown-menu'>
                        <!-- <a class='dropdown-item' href='/profiles/edit/'>Edit Profile</a> -->
                        <a class='dropdown-item' href='/password/new/'>Password Reset</a>
                        <a class='dropdown-item' href='/logout/'>Logout</a>
                        <!-- <a class='dropdown-item' href=''></a> -->
                    </div>
                </li>
            {% endif %}
        </div>
        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
    </nav>

    {% endblock %}

    {% block messages %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "info" %}
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            {% elif message.tags == "error" %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            {% else %}
                <div class="alert alert-primary alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}
    

    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>