{% extends 'header.html' %}

{% block title %}
<div class='jumbotron jumbotron-fluid' style='margin-bottom:0;'>
    <div class='container-fluid mx-auto'>
        <h1 class='display-1'>This is Elect-DC.</h1>
        <h1><small>The platform for electing the Prefect team.</small></h1>
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<div class='container-fluid'>
    
    <div class='row'>
        
        <div class='w-75 card mx-auto'>
            <div class='card-body text-center'>
                <h2 class='card-title'>How it works</h2>
                <p>The system uses Single Transferable Vote (STV) for electing prefects. To vote, click on the elections tab and select an election.</p>
                <p>To cast your ballot, rank candidates in order of preference. 1 is the highest rank. You can rank as many or as few candidates as you want.</p>
                <p>
                    The vote quota required to secure a seat is determined using the number of voters and the number of seats. 
                    Any votes over the quota are redistributed to the next preference choice in order to prevent wasted votes. 
                    If there are seats that have not been filled, the candidate with the lowest vote is eliminated and the votes for that candidate are also redistributed.
                </p>
            </div>
        </div>
    </div><br><br>
</div>

{% endblock %}