{% extends 'header.html' %}


{% block content %}

<br>
<div class="w-75 card mx-auto">
    <div class="card-body text-center">
        <form method='POST' enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class='button btn btn-outline-dark' name='students_button'>Students</button><br><br>
            <button type="submit" class='button btn btn-outline-dark' name='teachers_button'>Teachers</button><br>
        </form>
    </div>
</div>



{% endblock %}