{% extends 'header.html' %}

{% block title %}
<div class='jumbotron jumbotron-fluid' style='margin-bottom:0;'>
    <div class='container-fluid mx-auto'>
        <h1 class='display-1'>Edit your Profile.</h1>
        <h1><small>Update your candidacy information.</small></h1>
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<div class="w-75 card mx-auto">
    <div class="card-body text-center">
        <h2 class='card-title'>Edit your profile:</h2>
        <form method='post' enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            <p><strong>Bio</strong><br>
            {{candidate_form.Bio}}</p>
            <p><strong>Poster:</strong>
            {{candidate_form.Poster}}</p>
            <button type=submit class='button btn btn-outline-dark'>Save Changes</button>
        </form>

{% endblock %}