{% extends 'header.html' %}

{% block nav %}
{% endblock %}
{% block messages %}
{% endblock %}

{% block content %}
<br>
<div class="w-75 card mx-auto">
  <div class="card-body text-center">
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the address correctly,
      and check your spam folder. If you are having trouble, email Craig for help.
    </p>
    <br><a class='button btn btn-outline-dark' href="{% url 'password_reset' %}">Retry</a><br>
  </div>
</div>
{% endblock %}