{% extends 'header.html' %}

{% block nav %}
{% endblock %}
{% block messages %}
{% endblock %}

{% block content %}
<br>
<div class="w-75 card mx-auto">
    <div class="card-body text-center">
        <h2 class="card-title">Forgotten Credentials</h2>
        <p class='card-text'>Forgotten your username or password? No problem.</p>
        <p class='card-text'>Enter your email address below to recieve a reset link.</p>
        <form method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <button class='button btn btn-outline-dark' type=submit>Reset</button>
        </form>
        <a class='button btn btn-outline-dark' href='{% url "login" %}'>Back</a><br><br>
    </div>
</div>
{% endblock %}